<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자바스크립트 기초 1(변수 및 함수 선언, if문, for문, console.log)</title>
    <script>
        // 변수 선언(var, const, let)
        let a = 10; // [파이썬] a = 10
        let b = 20; // [파이썬] b = 20
        console.log(a + b);

        // 함수 선언
        function plus(a, b){
            return a + b;
        }
        // [파이썬]
        // def plus(a, b):
        //     return a + b
        console.log(plus(a, b));
        
        // if문
        let c = 100;
        if(c > 50){
            console.log('50보다 큽니다');
        } else{
            console.log('50보다 작습니다');
        }
        // [파이썬]
        // c = 100
        // if c > 50:
        //     print('50보다 큽니다')
        // else:
        //     print('50보다 작습니다')
        // 파이썬에서의 :는 자바스크립트의 {}와 같다

        // for문
        for(i=0; i<10; i++){
            console.log(i);
        }
        // [파이썬]
        // for i in range(0, 10): → 0 ~ 9까지
        //     print(i) # 0, 1, 2, 3, 4, 5, 6, ..., 9 → i += 1

        // while문
        let apple = 0;
        while(apple < 10){
            console.log('apple 앞 : ' + apple);
            apple += 1;
            console.log('apple 뒤 : ' + apple);
        }
        // [파이썬]
        // apple = 0
        // while apple < 10:
        //     apple += 1
        //     print('apple : ' + apple)

    </script>
</head>
<body>
    <h1>자바스크립트 기초 1(변수 및 함수 선언, if문, for문, console.log)</h1>
    <a href="/basic0">자바스크립트 기초 1(변수 및 함수 선언, if문, for문, console.log)</a> <br>
    <a href="/basic1">자바스크립트 기초 2(document.getElementById, click event)</a> <br>
    <a href="/basic2">자바스크립트 기초 3(getElementById, getElementsByClassName, getElementsByName)</a> <br>
    <a href="/basic3">자바스크립트 기초 4(alert, confirm, prompt)</a> <br>
    <br><br><br>
</body>
</html>