<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자바스크립트 기초(alert, confirm, prompt)</title>
</head>
<body>
    <h1>자바스크립트 기초(alert, confirm, prompt)</h1>
    <a href="/basic0">자바스크립트 기초 0(변수 및 함수 선언, if문, for문, console.log)</a> <br>
    <a href="/basic1">자바스크립트 기초 1(document.getElementById, click event)</a> <br>
    <a href="/basic2">자바스크립트 기초 2(getElementById, getElementsByClassName, getElementsByName)</a> <br>
    <a href="/basic3">자바스크립트 기초 3(alert, confirm, prompt)</a> <br>
    <br><br><br>

    <button id="alert_">alert창</button>
    <button id="confirm_">confirm창</button>
    <button id="prompt_">prompt창</button>

    <!-- JS 파일 호출하는 부분 -->
    <script type="text/javascript" src="../static/js/abc.js"></script>
</body>
</html>